{% extends "base.html" %}

{% block body %}
<div>
	<h1>Image upload</h1>
<form action='/' method="post" enctype="multipart/form-data" id="main-form">
	<fieldset>
		<label>Image file</label>
		<input type="file" name="image" required></input>
		<span class="help-block">Image file to upload.</span>
		<label>Image name</label>
		<input type="text" name="name" placeholder="Agadir Yoav 20.1.13">
		<span class="help-block">Optional image name.</span>
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>
</div>
{% if images %}
<div>
<h1>Image directory</h1>
<ul>
{% for img in images %}
	<li>
		<a href="{{ img.image_url }}">
			{{ img.image_id }}
		</a>
	</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
